.task-list,
.task-table {
    width: 100%;
    justify-content: center;
    align-content: center;
}

.task-widgets {
    padding: 20px; /* Padding around the entire grid */
}

.task-widget {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.popup-notification {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50; /* Green background */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it appears above other content */
    transition: opacity 0.3s ease;
}