.filter-bar button {
    background-color: #B6CDC8;
    color: #355147;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.filter-bar button:hover {
    background-color: #B6CDC8;
    transform: scale(1.01);
}