html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

input, textarea, select {
  -webkit-user-select: auto !important;
  user-select: auto !important;
  -webkit-touch-callout: default;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.view-container {
    /* padding: 0% 2% 0% 2%; */
    justify-content: center;
    align-content: center;
    width: fill;
    height: fill;
}

.app-container {
  width: -webkit-fill-available;
  /* padding: 0% 2%; */
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.MuiInputLabel-root {
  background-color: white;
  padding: 0 4px; /* Optional: Adds padding to prevent text overlap */
}

@keyframes dot {
  0% { content: "."; }
  33% { content: ".."; }
  66% { content: "..."; }
  100% { content: "."; }
}

.dot-flash::after {
  content: ".";
  animation: dots 1s steps(3, end) infinite;
}

@keyframes dots {
  0% { content: "."; }
  33% { content: ".."; }
  66% { content: "..."; }
  100% { content: "."; }
}